<!DOCTYPE html>
<html lang="en" dir="ltr">
<div th:insert="/head::head"> </div>

<body>

  <div th:insert="/navbar::navbar"> </div>

  <div class="container stuFo">
    <form class=" inputStudentName" th:action="@{/motorbike/findMotorbike}" method="post">
      <h1 class="addSV">Tìm xe</h1>
      <table>
        <tr>
          <td>
            <p>Nhập loại xe: </p>
          </td>
          <td><input type="text" name="loaixe" th:value="${motorbike.loaixe}" placeholder="Nhập loại xe"></td>
        </tr>
      </table>
      <input type="submit" name="findService" value="Tìm">
    </form>

    <form class="stuFoundForm" action="" method="post">
      <table id="stuFound">
        <tr>
          <th>ID</th>
          <th>Biển số xe</th>
          <th>Thời gian check in</th>
          <th>Phí</th>
          <th>CheckOut</th>
        </tr>
        <tr th:each="checkedIn: ${listCheckedIn}">
          <td th:field="${checkedIn.id}" th:text="${checkedIn.id}"></td>
          <td th:field="${checkedIn.motorbike.motorbikeName}" th:text="${checkedIn.motorbike.motorbikeName}"></td>
          <td th:field="${checkedIn.time}" th:text="${checkedIn.time}"></td>
          <td th:field="${checkedIn.fee}" th:text="${checkedIn.fee}"></td>
          <td><a th:href="@{/check/checkOut(id=${checkedIn.id})}">CheckOut</a></td>
        </tr>
      </table>
    </form>
  </div>
</body>

</html>